.home-navigation .menu-logo {
    position: relative;
    margin: auto;
    width: 30%;
    padding: 15px;
}

.home-navigation .top-menu {
    border-bottom: 0.01rem solid #e8e5e5;
}
.home-navigation .top-menu ul {
    text-align: right;
}

.home-navigation .top-menu li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #e8e5e5;
}

.home-navigation .top-menu li:first-child {
    border-left: 1px solid #e8e5e5;
}

.home-navigation .top-menu svg {
    margin-right: 10px;
}

.home-navigation .top-menu a {
    font-size: 12px;
    color: gray;
}

.home-navigation .menu-logo img {
    width: 125px;
    height: 125px;
    display: block;
    margin: auto;
}

.main-menu {
    background: #228ae6;
}

.home-navigation ul {
    list-style: none;
    padding: 0;
    position: relative;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.home-navigation .main-menu li {
    display: inline-block;
    padding: 15px;
}

.home-navigation .main-menu ul a {
    color: white;
}

.home-navigation .main-menu ul a:hover {
    text-decoration: none;
    color: #ccedff;
}

.content {
    background: #EDF3F3;
    padding: 70px 0px 40px;
}

.content .articles {
    width: 75%;
    margin: 0 auto;
}

.content .articles .col-lg-4 {
    margin-bottom: 30px;
}

.content .articles .card {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

.content .articles .card .article-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}

.content .articles .card p{
    margin-bottom: 2.5rem;
}

.content .articles .card .article-footer > li:first-child{
    float: left;
}

.content .articles .card .article-footer > li {
    width: 50%;
    display: inline-block;
    border-right: 1px solid #fff;
    background: #EDF3F3;
    line-height: 45px;
    font-size: 12px;
}

.content .articles .article-footer svg {
    display: inline-block;
    margin-right: 10px;
    opacity: .6;
    font-size: 1.1em;
}

.content .page {
    width: 75%;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    margin: auto;
    padding-bottom: 30px;
}

.content .article .title {
    padding: 30px 30px 15px 30px;
}

.content .article img {
    width: 100%;
    height: 250px;
}

.content .article .body {
    padding: 30px 30px 0 30px;
}

.content .article .author {
    padding: 30px;
}

.content .static .title {
    padding: 30px 30px 0 30px;
}

.content .static .body {
    padding: 15px 30px 0 30px;
}

.footer {
    padding: 15px;
    background: #495057;
}

.footer .row {
    width: 75%;
    margin: auto;
}

.footer .col-8 {
    text-align: right;
}

.footer .footer-credits {
    color: #848d95;
    font-size: 12px;
}

.footer .footer-navigation li {
    display: inline-block;
    padding-right: 10px;
}

.footer .footer-navigation li:last-child {
    padding: 0;
}

.footer .footer-navigation li a {
    color: #848d95;
    font-size: 12px;
}